--
-- PostgreSQL database dump
--

-- Dumped from database version 15.13 (Debian 15.13-1.pgdg120+1)
-- Dumped by pg_dump version 15.13 (Debian 15.13-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: app_user; Type: TABLE; Schema: public; Owner: postgres
--

DROP TABLE IF EXISTS public.app_user CASCADE;
CREATE TABLE public.app_user (
    user_id bigint NOT NULL,
    name character varying(255),
    password character varying(255)
);


-- ALTER TABLE public.app_user OWNER TO postgres;

--
-- Name: app_user_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.app_user ALTER COLUMN user_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.app_user_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: players_barcelona; Type: TABLE; Schema: public; Owner: postgres
--

DROP TABLE IF EXISTS public.players_barcelona CASCADE;
CREATE TABLE public.players_barcelona (
    assists integer NOT NULL,
    goals integer NOT NULL,
    rating double precision NOT NULL,
    id bigint NOT NULL,
    matches character varying(255),
    name character varying(255)
);


-- ALTER TABLE public.players_barcelona OWNER TO postgres;

--
-- Name: players_barcelona_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.players_barcelona ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.players_barcelona_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: players_finalcl; Type: TABLE; Schema: public; Owner: postgres
--

DROP TABLE IF EXISTS public.players_finalcl CASCADE;
CREATE TABLE public.players_finalcl (
    assists integer NOT NULL,
    goals integer NOT NULL,
    rating double precision NOT NULL,
    id bigint NOT NULL,
    matches character varying(255),
    name character varying(255)
);


-- ALTER TABLE public.players_finalcl OWNER TO postgres;

--
-- Name: players_finalcl_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.players_finalcl ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.players_finalcl_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: prediction_logs; Type: TABLE; Schema: public; Owner: postgres
--

DROP TABLE IF EXISTS public.prediction_logs CASCADE;
CREATE TABLE public.prediction_logs (
    created_at timestamp(6) without time zone NOT NULL,
    id bigint NOT NULL,
    prediction_result text,
    prediction_type character varying(255),
    request_data text
);


-- ALTER TABLE public.prediction_logs OWNER TO postgres;

--
-- Name: prediction_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.prediction_logs ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.prediction_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: stat_details; Type: TABLE; Schema: public; Owner: postgres
--

DROP TABLE IF EXISTS public.stat_details CASCADE;
CREATE TABLE public.stat_details (
    id bigint NOT NULL,
    summary_id bigint NOT NULL,
    away_value character varying(255) NOT NULL,
    home_value character varying(255) NOT NULL,
    label character varying(255) NOT NULL
);


-- ALTER TABLE public.stat_details OWNER TO postgres;

--
-- Name: stat_details_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.stat_details ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.stat_details_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: team; Type: TABLE; Schema: public; Owner: postgres
--

DROP TABLE IF EXISTS public.team CASCADE;
CREATE TABLE public.team (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    whoscored_url character varying(255) NOT NULL
);


-- ALTER TABLE public.team OWNER TO postgres;

--
-- Name: team_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.team ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.team_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: team_stats_summaries; Type: TABLE; Schema: public; Owner: postgres
--

DROP TABLE IF EXISTS public.team_stats_summaries CASCADE;
CREATE TABLE public.team_stats_summaries (
    id bigint NOT NULL,
    away_matches_played character varying(255),
    away_team_emblem_url character varying(255),
    away_team_name character varying(255),
    home_matches_played character varying(255),
    home_team_emblem_url character varying(255),
    home_team_name character varying(255)
);


-- ALTER TABLE public.team_stats_summaries OWNER TO postgres;

--
-- Name: team_stats_summaries_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.team_stats_summaries ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.team_stats_summaries_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: upcoming_match; Type: TABLE; Schema: public; Owner: postgres
--

DROP TABLE IF EXISTS public.upcoming_match CASCADE;
CREATE TABLE public.upcoming_match (
    id bigint NOT NULL,
    kickoff timestamp(6) without time zone,
    team_id bigint,
    away_team character varying(255),
    competition character varying(255),
    home_team character varying(255),
    status character varying(255),
    venue character varying(255),
    CONSTRAINT upcoming_match_status_check CHECK (((status)::text = ANY ((ARRAY['PENDING'::character varying, 'PLAYED'::character varying])::text[])))
);


-- ALTER TABLE public.upcoming_match OWNER TO postgres;

--
-- Name: upcoming_match_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.upcoming_match ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.upcoming_match_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: app_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.app_user (user_id, name, password) FROM stdin;
1	testuser	$2a$10$2z80cuTy.TwN/raVm815qem6ivkTsftCgVbVBn06R6AHhAqEegJdC
\.


--
-- Data for Name: players_barcelona; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: players_finalcl; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: prediction_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.prediction_logs (created_at, id, prediction_result, prediction_type, request_data) FROM stdin;
2025-05-19 06:06:36.444332	1	{"predictedWinner":"Inter", "score":"2-1"}	COMPREHENSIVE	INPUT_DATA_EXAMPLE: Inter vs PSG, datos...
\.


--
-- Data for Name: stat_details; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stat_details (id, summary_id, away_value, home_value, label) FROM stdin;
1	1	5	10	Disparos
2	1	42%	58%	Posesi├│n
3	2	2	2	Goles
4	2	12	19	Tiros
5	2	2	1	Tarjetas Amarillas
6	2	0	0	Tarjetas Rojas
7	2	3	6	C├│rners
8	2	10	9	Faltas
9	2	3	2	Fueras de juego
10	2	0	0	Saques de banda
11	2	56%	51%	├ëxito Duelos A├®reos
12	2	46%	62%	Posesi├│n
13	2	85%	89%	Acierto de Pase %
14	2	6.8	7	Promedio de Rating
\.


--
-- Data for Name: team; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.team (id, name, whoscored_url) FROM stdin;
\.


--
-- Data for Name: team_stats_summaries; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.team_stats_summaries (id, away_matches_played, away_team_emblem_url, away_team_name, home_matches_played, home_team_emblem_url, home_team_name) FROM stdin;
1	\N	\N	Inter	\N	https://example.com/psg.png	Paris Saint Germain
2	14	https://d2zywfiolv4f83.cloudfront.net/img/teams/75.png	\N	16	https://d2zywfiolv4f83.cloudfront.net/img/teams/304.png	\N
\.


--
-- Data for Name: upcoming_match; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.upcoming_match (id, kickoff, team_id, away_team, competition, home_team, status, venue) FROM stdin;
\.


--
-- Name: app_user_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.app_user_user_id_seq', 1, true);


--
-- Name: players_barcelona_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.players_barcelona_id_seq', 47, true);


--
-- Name: players_finalcl_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.players_finalcl_id_seq', 49, true);


--
-- Name: prediction_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.prediction_logs_id_seq', 1, true);


--
-- Name: stat_details_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stat_details_id_seq', 14, true);


--
-- Name: team_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.team_id_seq', 1, false);


--
-- Name: team_stats_summaries_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.team_stats_summaries_id_seq', 2, true);


--
-- Name: upcoming_match_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.upcoming_match_id_seq', 1, false);


--
-- Name: app_user app_user_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_user
    ADD CONSTRAINT app_user_name_key UNIQUE (name);


--
-- Name: app_user app_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_user
    ADD CONSTRAINT app_user_pkey PRIMARY KEY (user_id);


--
-- Name: players_barcelona players_barcelona_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.players_barcelona
    ADD CONSTRAINT players_barcelona_pkey PRIMARY KEY (id);


--
-- Name: players_finalcl players_finalcl_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.players_finalcl
    ADD CONSTRAINT players_finalcl_pkey PRIMARY KEY (id);


--
-- Name: prediction_logs prediction_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prediction_logs
    ADD CONSTRAINT prediction_logs_pkey PRIMARY KEY (id);


--
-- Name: stat_details stat_details_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stat_details
    ADD CONSTRAINT stat_details_pkey PRIMARY KEY (id);


--
-- Name: team team_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.team
    ADD CONSTRAINT team_name_key UNIQUE (name);


--
-- Name: team team_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.team
    ADD CONSTRAINT team_pkey PRIMARY KEY (id);


--
-- Name: team_stats_summaries team_stats_summaries_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.team_stats_summaries
    ADD CONSTRAINT team_stats_summaries_pkey PRIMARY KEY (id);


--
-- Name: upcoming_match upcoming_match_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.upcoming_match
    ADD CONSTRAINT upcoming_match_pkey PRIMARY KEY (id);


--
-- Name: stat_details fk8slhol8sqag6wglihn6st95ar; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stat_details
    ADD CONSTRAINT fk8slhol8sqag6wglihn6st95ar FOREIGN KEY (summary_id) REFERENCES public.team_stats_summaries(id);


--
-- PostgreSQL database dump complete
--
